@media screen and (min-width: 360px) and (max-width: 991px) {
  .header {
    display: flex;
    height: 40px;
    background-color: #111311;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  @font-face {
    font-family: 'Gothampro', sans-serif;
    src: url(/source/fonts/GothamPro-Light.woff2); 
  }

  .header__Tel {
    display: flex;
    flex-direction: column;
  }

  .container {
    background-image: url(/img/image.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container__main {
    padding-top: 271px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }

  .container__H1 {
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .container__H2 {
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }
  .sendInfo {
    background-color: #dd3037;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: auto;
    color: white;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  .aboutCompany {
    background-color: #212121;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__span {
    padding-top: 45px;
    padding-bottom: 35px;
    color: rgb(153, 153, 153);
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .num {
    color: rgb(33, 160, 56);
    font-family: Gothampro;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(182, 255, 186);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5),
      0px 0px 10px 0px rgb(182, 255, 186);
    background: rgba(0, 0, 0, 0.7);
    position: static;
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 10px 3px 10px;
  }
  .num__sentences {
    position: static;
    width: 216px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  .num__sens_together {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .select__division {
    background: rgb(33, 33, 33);
    padding-top: 43px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .select__devision_form {
    border-radius: 5px;
    position: static;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .active {
    background: rgb(153, 153, 153);
    color: rgb(33, 33, 33);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .select__devision_forms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .devision__item {
    position: static;
    width: auto;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px;
  }
  .devision__item_cloud{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .devision__item_work {
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }

  .devision {
    color: rgb(255, 255, 255);
  }
  .price {
    color: rgb(33, 160, 56);
  }

  .products__company{
    background: rgb(17, 19, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__company_form {
    position: static;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .active {
    background: rgb(153, 153, 153);
    color: rgb(33, 33, 33);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .products__company_forms{
    display: flex;
    gap: 5px;
  }

.product__span{
  color: rgb(255, 255, 255);
font-family: Gothampro;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.product__item{
  position: static;
  width: 320px;
  height: 55px;
  /* Автолейаут */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0px 15px 0px;
}
}
