@media screen and (min-width: 360px) and (max-width: 991px) {
  .header {
    display: flex;
    height: 40px;
    background-color: #111311;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .header__Tel {
    display: flex;
    flex-direction: column;
  }

  .container {
    background-image: url(/img/image.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container__main {
    padding-top: 271px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }

  .container__H1 {
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 30px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .container__H2 {
    margin-top: 15px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }
  .sendInfo {
    background-color: #dd3037;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: auto;
    color: white;
    margin-bottom: 45px;
    text-transform: uppercase;
  }

  .aboutCompany {
    background-color: #212121;
    height: 552px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__span {
    padding-top: 45px;
    padding-bottom: 35px;
    color: rgb(153, 153, 153);
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .num {
    color: rgb(33, 160, 56);
    font-family: Gothampro;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(182, 255, 186);
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5),
      0px 0px 10px 0px rgb(182, 255, 186);
    background: rgba(0, 0, 0, 0.7);
    position: static;
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px 10px 3px 10px;
  }
  .num__sentences {
    position: static;
    width: 216px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 15px 0px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
  }

  .num__sens_together {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .select__division {
    background: rgb(33, 33, 33);
    padding-top: 43px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .select__devision_form {
    border-radius: 5px;
    position: static;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .active {
    background: rgb(153, 153, 153);
    color: rgb(33, 33, 33);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .select__devision_forms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
.devision__item{
  position: static;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
  .devision__item_plus {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 30px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 15px 0px;
  }
  .devision__item_cloud {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .devision__item_work {
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }

  .devision {
    color: rgb(255, 255, 255);
  }
  .price {
    color: rgb(33, 160, 56);
  }

  .products__company {
    background: rgb(17, 19, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .products__company_form {
    position: static;
    width: 100px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
  }

  .active {
    background: rgb(153, 153, 153);
    color: rgb(33, 33, 33);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .products__company_forms {
    display: flex;
    gap: 5px;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .product__span {
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 280px;
  }

  .product__description {
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    width: 280px;
  }
  .product__item {
    border-bottom: 3px solid rgb(153, 153, 153);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 0px;
    position: static;
  }
  .prod {
    padding-bottom: 20px;
  }
  .product__item_content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px;
  }

  .hidden {
    display: none;
  }

  .ourproduct {
    background: rgb(33, 33, 33);
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ourProd {
    padding-top: 0;
    padding-bottom: 0;
  }

  .ourproduct__items {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-bottom: 35px;
    justify-content: center;
  }
  .ourproduct__item {
    width: 165px;
    height: 182px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px rgba(217, 217, 217, 0.25);
    background: rgb(217, 217, 217);
  }
  .ourproduct__item1 {
    width: 130px;
    height: 147.88px;
    border-radius: 10px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 6.073%,
        rgba(0, 0, 0, 0.7) 99.892%
      ),
      rgb(217, 217, 217);
    transform: rotate(180deg);
  }
  .ourproduct__item2 {
    width: 130px;
    height: 147.88px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 6.073%,
        rgba(0, 0, 0, 0.7) 99.892%
      ),
      rgb(217, 217, 217);
  }

  .ourproducts__elips {
    display: flex;
    gap: 9px;
    padding-bottom: 45px;
  }
  .elips {
    position: static;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: rgb(136, 137, 136);
  }

  .selected {
    width: 42.6px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
  }

  .cariers {
    display: flex;
    width: calc(100% - 40px);
    padding: 0 20px 87px;
    background: rgb(17, 19, 17);
    flex-direction: column;
    align-items: center;
  }
  .ceriers__about {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  .person__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 35px;
  }

  .person__item_name {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  .person__item_specialization {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }
  .person__experience {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding-inline-start: 20px;
  }
  .person__item_experience {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .our__successes {
    position: relative;
    background: radial-gradient(
        circle,
        rgb(0 0 0 / 30%) 26%,
        rgb(33, 33, 33) 95%
      ),
      #3d9542;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 40px);
    padding: 45px 20px;
  }

  .our__successes_content {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 140px;
  }

  .our__successes_image {
    position: absolute;
  }

  .window {
    right: 0.41%;
    top: 13.63%;
  }

  .char1 {
    left: 5.73%;
    top: 41.47%;
  }

  .char2 {
    right: 38.65%;
    top: 34.91%;
    transform: rotate(5.58deg);
  }

  .char3 {
    left: 48.73%;
    top: 40.98%;
    transform: rotate(-0.42deg);
  }

  .char4 {
    left: 61.88%;
    top: 35.12%;
    transform: rotate(6.42deg);
  }

  .our__successes_form {
    z-index: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    border: 3px solid rgb(54, 133, 59);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      0px 0px 10px 0px rgba(79, 183, 86, 0.7);
    background: rgba(0, 0, 0, 0.8);
  }

  .our__successes_text {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 0 25px;
  }

  .successes {
    margin-bottom: 0;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(17, 19, 17);
    width: calc(100% - 40px);
    padding: 0 20px;
  }

  .contacts_form {
    position: static;
    width: 150px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .active {
    background: rgb(153, 153, 153);
    color: rgb(33, 33, 33);
    font-family: Gothampro;
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .contacts_forms {
    display: flex;
    gap: 15px;
    padding-bottom: 40px;
  }

  .contacts__info {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;

    & p {
      color: rgb(255, 255, 255);
      font-size: 12px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  .contacts__info_all {
    background: rgb(17, 19, 17);
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 0 20px;
    gap: 16px;
    padding-bottom: 45px;
  }

  .contacts__sot {
    gap: 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  .rightcopy {
    background: rgb(17, 19, 17);
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 40px 20px 50px;
    gap: 16px;
    padding-top: 40px;
    align-items: center;
  }

  .rightcopy__about {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 30px;
  }
  .sec {
    padding-bottom: 15px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .more__info {
    color: rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
  }

  .more__info_item{
    margin: 0;
    position: relative;
    right: 40px;
  }

  .more__info_item_li{
    position: relative;
    left: 20px;
  }

}
